body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:905px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:790px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u2115 {
  position:absolute;
  left:47px;
  top:34px;
  width:420px;
  height:790px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u2116 {
  position:absolute;
  left:2px;
  top:387px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u2117 {
  position:absolute;
  left:47px;
  top:34px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2118 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:47px;
  top:759px;
  width:420px;
  height:65px;
}
#u2120 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2121 {
  position:absolute;
  left:82px;
  top:798px;
  width:29px;
  height:16px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2123 {
  position:absolute;
  left:182px;
  top:798px;
  width:29px;
  height:16px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:295px;
  top:798px;
  width:43px;
  height:16px;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:406px;
  top:798px;
  width:29px;
  height:16px;
}
#u2128 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u2129 {
  position:absolute;
  left:80px;
  top:768px;
  width:33px;
  height:23px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u2131 {
  position:absolute;
  left:297px;
  top:763px;
  width:36px;
  height:30px;
}
#u2132 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u2133 {
  position:absolute;
  left:406px;
  top:766px;
  width:30px;
  height:22px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u2135 {
  position:absolute;
  left:182px;
  top:766px;
  width:27px;
  height:28px;
}
#u2136 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137 {
  position:absolute;
  left:72px;
  top:763px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2138 {
  position:absolute;
  left:170px;
  top:763px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2139 {
  position:absolute;
  left:291px;
  top:766px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2140 {
  position:absolute;
  left:395px;
  top:766px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2141 {
  position:absolute;
  left:228px;
  top:75px;
  width:57px;
  height:16px;
}
#u2142 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2146 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2149 {
  position:absolute;
  left:49px;
  top:59px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u2151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u2151 {
  position:absolute;
  left:61px;
  top:66px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2152 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153 {
  position:absolute;
  left:47px;
  top:100px;
  width:419px;
  height:656px;
  overflow:hidden;
}
#u2153_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:656px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u2153_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:175px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u2154 {
  position:absolute;
  left:0px;
  top:103px;
  width:418px;
  height:175px;
  text-align:left;
  line-height:20px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:80px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2156 {
  position:absolute;
  left:12px;
  top:156px;
  width:71px;
  height:16px;
}
#u2157 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2158 {
  position:absolute;
  left:83px;
  top:149px;
  width:320px;
  height:30px;
}
#u2158_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2159 {
  position:absolute;
  left:21px;
  top:107px;
  width:57px;
  height:16px;
}
#u2160 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2161 {
  position:absolute;
  left:325px;
  top:107px;
  width:51px;
  height:16px;
}
#u2162 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2163 {
  position:absolute;
  left:376px;
  top:103px;
  width:25px;
  height:25px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:198px;
  width:418px;
  height:80px;
  text-align:left;
  line-height:20px;
}
#u2166 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u2167 {
  position:absolute;
  left:0px;
  top:513px;
  width:418px;
  height:66px;
  text-align:left;
  line-height:20px;
}
#u2168 {
  position:absolute;
  left:2px;
  top:25px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u2169 {
  position:absolute;
  left:12px;
  top:515px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2172 {
  position:absolute;
  left:35px;
  top:542px;
  width:30px;
  height:30px;
}
#u2173 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2174 {
  position:absolute;
  left:75px;
  top:549px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u2176 {
  position:absolute;
  left:6px;
  top:578px;
  width:400px;
  height:1px;
}
#u2177 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2178 {
  position:absolute;
  left:0px;
  top:4px;
  width:418px;
  height:99px;
}
#u2179 {
  position:absolute;
  left:2px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:77px;
}
#u2180 {
  position:absolute;
  left:19px;
  top:15px;
  width:78px;
  height:77px;
}
#u2181 {
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2182 {
  position:absolute;
  left:41px;
  top:50px;
  width:29px;
  height:16px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  position:absolute;
  left:107px;
  top:33px;
  width:177px;
  height:16px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2186 {
  position:absolute;
  left:116px;
  top:64px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u2187 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u2188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2188 {
  position:absolute;
  left:163px;
  top:70px;
  width:28px;
  height:15px;
  font-size:12px;
}
#u2189 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u2190 {
  position:absolute;
  left:160px;
  top:77px;
  width:34px;
  height:1px;
}
#u2191 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2192 {
  position:absolute;
  left:0px;
  top:295px;
  width:388px;
  height:56px;
}
#u2193 {
  position:absolute;
  left:2px;
  top:20px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2194 {
  position:absolute;
  left:17px;
  top:309px;
  width:202px;
  height:32px;
}
#u2195 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2196 {
  position:absolute;
  left:0px;
  top:361px;
  width:388px;
  height:66px;
}
#u2197 {
  position:absolute;
  left:2px;
  top:25px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2198 {
  position:absolute;
  left:17px;
  top:375px;
  width:140px;
  height:16px;
}
#u2199 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u2200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2200 {
  position:absolute;
  left:17px;
  top:401px;
  width:79px;
  height:16px;
}
#u2201 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u2202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2202 {
  position:absolute;
  left:0px;
  top:437px;
  width:388px;
  height:66px;
}
#u2203 {
  position:absolute;
  left:2px;
  top:25px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u2204 {
  position:absolute;
  left:17px;
  top:462px;
  width:165px;
  height:16px;
}
#u2205 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u2206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:579px;
  width:418px;
  height:66px;
  text-align:left;
  line-height:20px;
}
#u2207 {
  position:absolute;
  left:2px;
  top:25px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2209 {
  position:absolute;
  left:35px;
  top:608px;
  width:30px;
  height:30px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2211 {
  position:absolute;
  left:75px;
  top:615px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2212 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u2213 {
  position:absolute;
  left:6px;
  top:644px;
  width:400px;
  height:1px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u2215 {
  position:absolute;
  left:0px;
  top:645px;
  width:418px;
  height:66px;
  text-align:left;
  line-height:20px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:25px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2218 {
  position:absolute;
  left:35px;
  top:674px;
  width:30px;
  height:30px;
}
#u2219 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2220 {
  position:absolute;
  left:75px;
  top:681px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2221 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u2222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u2222 {
  position:absolute;
  left:6px;
  top:710px;
  width:400px;
  height:1px;
}
#u2223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224 {
  position:absolute;
  left:376px;
  top:543px;
  width:30px;
  height:16px;
}
#u2225 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2224_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2226 {
  position:absolute;
  left:378px;
  top:609px;
  width:27px;
  height:16px;
}
#u2227 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2226_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2228 {
  position:absolute;
  left:379px;
  top:674px;
  width:27px;
  height:16px;
}
#u2229 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2228_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2230 {
  position:absolute;
  left:6px;
  top:721px;
  width:159px;
  height:16px;
}
#u2231 {
  position:absolute;
  left:16px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u2230_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  position:absolute;
  left:48px;
  top:756px;
  width:418px;
  height:84px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:34px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2234 {
  position:absolute;
  left:59px;
  top:795px;
  width:146px;
  height:25px;
  font-size:16px;
}
#u2235 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u2236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2236 {
  position:absolute;
  left:359px;
  top:783px;
  width:100px;
  height:48px;
}
#u2237 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  position:absolute;
  left:498px;
  top:504px;
  width:407px;
  height:64px;
}
#u2239 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u2240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2240 {
  position:absolute;
  left:498px;
  top:597px;
  width:269px;
  height:80px;
}
#u2241 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u2242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2242 {
  position:absolute;
  left:498px;
  top:701px;
  width:272px;
  height:112px;
}
#u2243 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u2244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2244 {
  position:absolute;
  left:498px;
  top:391px;
  width:211px;
  height:32px;
}
#u2245 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
