body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1540px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5719 {
  position:absolute;
  left:48px;
  top:39px;
  width:420px;
  height:733px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5720 {
  position:absolute;
  left:2px;
  top:358px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5721_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u5721 {
  position:absolute;
  left:48px;
  top:39px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5722 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5723 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5724 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5725 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5726 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5727 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5729 {
  position:absolute;
  left:49px;
  top:64px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u5730 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u5731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u5731 {
  position:absolute;
  left:61px;
  top:71px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5732 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:541px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5733 {
  position:absolute;
  left:49px;
  top:114px;
  width:418px;
  height:541px;
}
#u5734 {
  position:absolute;
  left:2px;
  top:262px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5735 {
  position:absolute;
  left:49px;
  top:179px;
  width:417px;
  height:111px;
}
#u5736 {
  position:absolute;
  left:2px;
  top:48px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5737 {
  position:absolute;
  left:57px;
  top:195px;
  width:60px;
  height:21px;
  font-size:20px;
}
#u5738 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u5739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5739 {
  position:absolute;
  left:180px;
  top:199px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u5740 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5741 {
  position:absolute;
  left:62px;
  top:237px;
  width:150px;
  height:16px;
  color:#6B6B6B;
}
#u5742 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u5743 {
  position:absolute;
  left:57px;
  top:229px;
  width:402px;
  height:1px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:-8px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5745_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5745 {
  position:absolute;
  left:270px;
  top:234px;
  width:15px;
  height:16px;
}
#u5746 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u5747 {
  position:absolute;
  left:266px;
  top:199px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u5748 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5749 {
  position:absolute;
  left:49px;
  top:300px;
  width:417px;
  height:115px;
}
#u5750 {
  position:absolute;
  left:2px;
  top:50px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5751 {
  position:absolute;
  left:57px;
  top:316px;
  width:71px;
  height:21px;
  font-size:20px;
}
#u5752 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5753 {
  position:absolute;
  left:183px;
  top:320px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u5754 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5755 {
  position:absolute;
  left:62px;
  top:358px;
  width:150px;
  height:16px;
  color:#6B6B6B;
}
#u5756 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u5757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u5757 {
  position:absolute;
  left:57px;
  top:350px;
  width:402px;
  height:1px;
}
#u5758 {
  position:absolute;
  left:2px;
  top:-8px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5759 {
  position:absolute;
  left:269px;
  top:320px;
  width:15px;
  height:16px;
}
#u5760 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u5761 {
  position:absolute;
  left:269px;
  top:320px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u5762 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5763 {
  position:absolute;
  left:269px;
  top:379px;
  width:15px;
  height:16px;
}
#u5764 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5765 {
  position:absolute;
  left:88px;
  top:802px;
  width:516px;
  height:48px;
}
#u5766 {
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  word-wrap:break-word;
}
#u5767_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5767 {
  position:absolute;
  left:62px;
  top:134px;
  width:79px;
  height:16px;
}
#u5768 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5769 {
  position:absolute;
  left:223px;
  top:134px;
  width:79px;
  height:16px;
}
#u5770 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5771 {
  position:absolute;
  left:380px;
  top:134px;
  width:79px;
  height:16px;
}
#u5772 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5773_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5773 {
  position:absolute;
  left:478px;
  top:40px;
  width:420px;
  height:733px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5774 {
  position:absolute;
  left:2px;
  top:358px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u5775 {
  position:absolute;
  left:478px;
  top:40px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5776 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5777 {
  position:absolute;
  left:479px;
  top:65px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u5778 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u5779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u5779 {
  position:absolute;
  left:491px;
  top:72px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5780 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:541px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5781 {
  position:absolute;
  left:479px;
  top:115px;
  width:418px;
  height:541px;
}
#u5782 {
  position:absolute;
  left:2px;
  top:262px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5783 {
  position:absolute;
  left:700px;
  top:235px;
  width:15px;
  height:16px;
}
#u5784 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5785 {
  position:absolute;
  left:698px;
  top:290px;
  width:15px;
  height:16px;
}
#u5786 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5787 {
  position:absolute;
  left:699px;
  top:380px;
  width:15px;
  height:16px;
}
#u5788 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5789_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5789 {
  position:absolute;
  left:492px;
  top:135px;
  width:79px;
  height:16px;
}
#u5790 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5791_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5791 {
  position:absolute;
  left:653px;
  top:135px;
  width:79px;
  height:16px;
}
#u5792 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5793_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5793 {
  position:absolute;
  left:810px;
  top:135px;
  width:79px;
  height:16px;
}
#u5794 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5795_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5795 {
  position:absolute;
  left:917px;
  top:44px;
  width:420px;
  height:733px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5796 {
  position:absolute;
  left:2px;
  top:358px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u5797 {
  position:absolute;
  left:917px;
  top:44px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5798 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5799 {
  position:absolute;
  left:918px;
  top:69px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u5800 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u5801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u5801 {
  position:absolute;
  left:930px;
  top:76px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5802 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:541px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5803 {
  position:absolute;
  left:918px;
  top:119px;
  width:418px;
  height:541px;
}
#u5804 {
  position:absolute;
  left:2px;
  top:262px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5805 {
  position:absolute;
  left:931px;
  top:139px;
  width:79px;
  height:16px;
}
#u5806 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5807_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5807 {
  position:absolute;
  left:1092px;
  top:139px;
  width:79px;
  height:16px;
}
#u5808 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5809 {
  position:absolute;
  left:1249px;
  top:139px;
  width:79px;
  height:16px;
}
#u5810 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u5811 {
  position:absolute;
  left:62px;
  top:160px;
  width:79px;
  height:1px;
}
#u5812 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u5813 {
  position:absolute;
  left:647px;
  top:161px;
  width:79px;
  height:1px;
}
#u5814 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:2px;
}
#u5815 {
  position:absolute;
  left:1240px;
  top:165px;
  width:79px;
  height:1px;
}
#u5816 {
  position:absolute;
  left:2px;
  top:-8px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5817 {
  position:absolute;
  left:1385px;
  top:64px;
  width:155px;
  height:16px;
}
#u5818 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u5819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5819 {
  position:absolute;
  left:62px;
  top:263px;
  width:127px;
  height:16px;
  color:#6B6B6B;
}
#u5820 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5821 {
  position:absolute;
  left:62px;
  top:384px;
  width:127px;
  height:16px;
  color:#6B6B6B;
}
#u5822 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5823 {
  position:absolute;
  left:479px;
  top:179px;
  width:417px;
  height:111px;
}
#u5824 {
  position:absolute;
  left:2px;
  top:48px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5825 {
  position:absolute;
  left:487px;
  top:195px;
  width:60px;
  height:21px;
  font-size:20px;
}
#u5826 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u5827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5827 {
  position:absolute;
  left:610px;
  top:199px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u5828 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5829 {
  position:absolute;
  left:492px;
  top:237px;
  width:150px;
  height:16px;
  color:#6B6B6B;
}
#u5830 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u5831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u5831 {
  position:absolute;
  left:487px;
  top:229px;
  width:402px;
  height:1px;
}
#u5832 {
  position:absolute;
  left:2px;
  top:-8px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5833 {
  position:absolute;
  left:700px;
  top:234px;
  width:15px;
  height:16px;
}
#u5834 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u5835 {
  position:absolute;
  left:696px;
  top:199px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u5836 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5837 {
  position:absolute;
  left:479px;
  top:300px;
  width:417px;
  height:115px;
}
#u5838 {
  position:absolute;
  left:2px;
  top:50px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5839 {
  position:absolute;
  left:487px;
  top:316px;
  width:71px;
  height:21px;
  font-size:20px;
}
#u5840 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5841 {
  position:absolute;
  left:613px;
  top:320px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u5842 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5843 {
  position:absolute;
  left:492px;
  top:358px;
  width:150px;
  height:16px;
  color:#6B6B6B;
}
#u5844 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u5845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u5845 {
  position:absolute;
  left:487px;
  top:350px;
  width:402px;
  height:1px;
}
#u5846 {
  position:absolute;
  left:2px;
  top:-8px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5847 {
  position:absolute;
  left:699px;
  top:320px;
  width:15px;
  height:16px;
}
#u5848 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u5849 {
  position:absolute;
  left:699px;
  top:320px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u5850 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5851 {
  position:absolute;
  left:699px;
  top:379px;
  width:15px;
  height:16px;
}
#u5852 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5853 {
  position:absolute;
  left:492px;
  top:263px;
  width:127px;
  height:16px;
  color:#6B6B6B;
}
#u5854 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5855 {
  position:absolute;
  left:492px;
  top:384px;
  width:127px;
  height:16px;
  color:#6B6B6B;
}
#u5856 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5857 {
  position:absolute;
  left:1140px;
  top:236px;
  width:15px;
  height:16px;
}
#u5858 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5859 {
  position:absolute;
  left:1138px;
  top:291px;
  width:15px;
  height:16px;
}
#u5860 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5861 {
  position:absolute;
  left:1139px;
  top:381px;
  width:15px;
  height:16px;
}
#u5862 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5863 {
  position:absolute;
  left:919px;
  top:180px;
  width:417px;
  height:111px;
}
#u5864 {
  position:absolute;
  left:2px;
  top:48px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5865 {
  position:absolute;
  left:927px;
  top:196px;
  width:60px;
  height:21px;
  font-size:20px;
}
#u5866 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u5867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5867 {
  position:absolute;
  left:1050px;
  top:200px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u5868 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5869 {
  position:absolute;
  left:932px;
  top:238px;
  width:150px;
  height:16px;
  color:#6B6B6B;
}
#u5870 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u5871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u5871 {
  position:absolute;
  left:927px;
  top:230px;
  width:402px;
  height:1px;
}
#u5872 {
  position:absolute;
  left:2px;
  top:-8px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5873 {
  position:absolute;
  left:1140px;
  top:235px;
  width:15px;
  height:16px;
}
#u5874 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u5875 {
  position:absolute;
  left:1136px;
  top:200px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u5876 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5877 {
  position:absolute;
  left:919px;
  top:301px;
  width:417px;
  height:115px;
}
#u5878 {
  position:absolute;
  left:2px;
  top:50px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5879 {
  position:absolute;
  left:927px;
  top:317px;
  width:71px;
  height:21px;
  font-size:20px;
}
#u5880 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5881 {
  position:absolute;
  left:1053px;
  top:321px;
  width:53px;
  height:16px;
  font-size:13px;
  color:#000000;
}
#u5882 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5883 {
  position:absolute;
  left:932px;
  top:359px;
  width:150px;
  height:16px;
  color:#6B6B6B;
}
#u5884 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u5885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:403px;
  height:2px;
}
#u5885 {
  position:absolute;
  left:927px;
  top:351px;
  width:402px;
  height:1px;
}
#u5886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5887 {
  position:absolute;
  left:1139px;
  top:321px;
  width:15px;
  height:16px;
}
#u5888 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
}
#u5889 {
  position:absolute;
  left:1139px;
  top:321px;
  width:106px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u5890 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5891 {
  position:absolute;
  left:1139px;
  top:380px;
  width:15px;
  height:16px;
}
#u5892 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u5893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5893 {
  position:absolute;
  left:932px;
  top:264px;
  width:127px;
  height:16px;
  color:#6B6B6B;
}
#u5894 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#6B6B6B;
}
#u5895 {
  position:absolute;
  left:932px;
  top:385px;
  width:127px;
  height:16px;
  color:#6B6B6B;
}
#u5896 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:115px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5897 {
  position:absolute;
  left:919px;
  top:301px;
  width:417px;
  height:115px;
  font-size:16px;
  color:#FFFFFF;
}
#u5898 {
  position:absolute;
  left:2px;
  top:48px;
  width:413px;
  word-wrap:break-word;
}
#u5899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:111px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.537254901960784);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5899 {
  position:absolute;
  left:919px;
  top:180px;
  width:417px;
  height:111px;
  font-size:16px;
  color:#FFFFFF;
}
#u5900 {
  position:absolute;
  left:2px;
  top:46px;
  width:413px;
  word-wrap:break-word;
}
