body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1173px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u446 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u447 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u448 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u449 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u450 {
  position:absolute;
  left:25px;
  top:50px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u451 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u452 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u453 {
  position:absolute;
  left:24px;
  top:164px;
  width:417px;
  height:35px;
}
#u453_input {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u454 {
  position:absolute;
  left:24px;
  top:114px;
  width:417px;
  height:35px;
}
#u454_input {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u455 {
  position:absolute;
  left:45px;
  top:124px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u456 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u457 {
  position:absolute;
  left:45px;
  top:174px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u458 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u459 {
  position:absolute;
  left:362px;
  top:172px;
  width:70px;
  height:20px;
}
#u460 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  position:absolute;
  left:43px;
  top:336px;
  width:380px;
  height:33px;
}
#u462 {
  position:absolute;
  left:2px;
  top:8px;
  width:376px;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u463 {
  position:absolute;
  left:43px;
  top:379px;
  width:113px;
  height:19px;
  font-size:12px;
}
#u464 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  white-space:nowrap;
}
#u465_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u465 {
  position:absolute;
  left:37px;
  top:55px;
  width:14px;
  height:26px;
}
#u466 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:80px;
}
#u467 {
  position:absolute;
  left:462px;
  top:123px;
  width:711px;
  height:80px;
}
#u468 {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  word-wrap:break-word;
}
#u469 {
  position:absolute;
  left:24px;
  top:266px;
  width:419px;
  height:35px;
}
#u469_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u470_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u470 {
  position:absolute;
  left:37px;
  top:276px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u471 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u472 {
  position:absolute;
  left:24px;
  top:215px;
  width:417px;
  height:35px;
}
#u472_input {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u473 {
  position:absolute;
  left:37px;
  top:225px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u474 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:16px;
}
#u475 {
  position:absolute;
  left:462px;
  top:193px;
  width:482px;
  height:16px;
}
#u476 {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  word-wrap:break-word;
}
#u477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u477 {
  position:absolute;
  left:473px;
  top:331px;
  width:239px;
  height:32px;
}
#u478 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
