body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:718px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u8524 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u8525 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u8526 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8527 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8528 {
  position:absolute;
  left:25px;
  top:50px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8529 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u8530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u8530 {
  position:absolute;
  left:37px;
  top:55px;
  width:14px;
  height:26px;
}
#u8531 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8532 {
  position:absolute;
  left:44px;
  top:156px;
  width:379px;
  height:254px;
}
#u8532_input {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:254px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8533 {
  position:absolute;
  left:153px;
  top:445px;
  width:140px;
  height:40px;
}
#u8534 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u8535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8535 {
  position:absolute;
  left:361px;
  top:383px;
  width:37px;
  height:16px;
}
#u8536 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u8537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8537 {
  position:absolute;
  left:483px;
  top:298px;
  width:235px;
  height:32px;
}
#u8538 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
