body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u6176 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u6177 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u6178 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6179 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6187 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6189 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6192 {
  position:absolute;
  left:30px;
  top:736px;
  width:405px;
  height:32px;
}
#u6193 {
  position:absolute;
  left:2px;
  top:8px;
  width:401px;
  word-wrap:break-word;
}
#u6194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6194 {
  position:absolute;
  left:508px;
  top:245px;
  width:213px;
  height:16px;
}
#u6195 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u6196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u6196 {
  position:absolute;
  left:24px;
  top:50px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u6197 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u6198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u6198 {
  position:absolute;
  left:36px;
  top:57px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6199 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u6200 {
  position:absolute;
  left:24px;
  top:94px;
  width:418px;
  height:200px;
  text-align:left;
}
#u6201 {
  position:absolute;
  left:2px;
  top:2px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6202 {
  position:absolute;
  left:23px;
  top:110px;
  width:419px;
  height:35px;
}
#u6202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6203 {
  position:absolute;
  left:36px;
  top:120px;
  width:65px;
  height:16px;
}
#u6204 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6205 {
  position:absolute;
  left:23px;
  top:155px;
  width:419px;
  height:35px;
}
#u6205_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6206 {
  position:absolute;
  left:36px;
  top:165px;
  width:71px;
  height:16px;
}
#u6207 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6208 {
  position:absolute;
  left:23px;
  top:245px;
  width:419px;
  height:35px;
}
#u6208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6209 {
  position:absolute;
  left:36px;
  top:255px;
  width:71px;
  height:16px;
}
#u6210 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u6211 {
  position:absolute;
  left:23px;
  top:196px;
  width:419px;
  height:35px;
}
#u6211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6211_input:disabled {
  color:grayText;
}
#u6212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6212 {
  position:absolute;
  left:36px;
  top:206px;
  width:63px;
  height:16px;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
