body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1357px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u9268 {
  position:absolute;
  left:43px;
  top:45px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u9269 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u9270 {
  position:absolute;
  left:43px;
  top:45px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9271 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9272 {
  position:absolute;
  left:45px;
  top:70px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9273 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u9274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u9274 {
  position:absolute;
  left:57px;
  top:75px;
  width:14px;
  height:26px;
}
#u9275 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9276 {
  position:absolute;
  left:60px;
  top:146px;
  width:130px;
  height:16px;
}
#u9277 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u9278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9278 {
  position:absolute;
  left:54px;
  top:180px;
  width:397px;
  height:41px;
}
#u9279 {
  position:absolute;
  left:2px;
  top:12px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9278_ann {
  position:absolute;
  left:444px;
  top:176px;
  width:1px;
  height:1px;
}
#u9280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u9280 {
  position:absolute;
  left:167px;
  top:180px;
  width:1px;
  height:41px;
}
#u9281 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9282 {
  position:absolute;
  left:82px;
  top:193px;
  width:43px;
  height:16px;
}
#u9283 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9284 {
  position:absolute;
  left:54px;
  top:231px;
  width:397px;
  height:41px;
}
#u9285 {
  position:absolute;
  left:2px;
  top:12px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u9286 {
  position:absolute;
  left:167px;
  top:231px;
  width:1px;
  height:41px;
}
#u9287 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9288 {
  position:absolute;
  left:82px;
  top:244px;
  width:71px;
  height:16px;
}
#u9289 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9290 {
  position:absolute;
  left:54px;
  top:282px;
  width:397px;
  height:41px;
}
#u9291 {
  position:absolute;
  left:2px;
  top:12px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u9292 {
  position:absolute;
  left:167px;
  top:282px;
  width:1px;
  height:41px;
}
#u9293 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9294 {
  position:absolute;
  left:82px;
  top:295px;
  width:57px;
  height:16px;
}
#u9295 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9296 {
  position:absolute;
  left:168px;
  top:282px;
  width:283px;
  height:41px;
}
#u9296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u9296_input:disabled {
  color:grayText;
}
#u9297_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9297 {
  position:absolute;
  left:178px;
  top:193px;
  width:155px;
  height:16px;
  color:#999999;
}
#u9298 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u9299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u9299 {
  position:absolute;
  left:178px;
  top:244px;
  width:113px;
  height:16px;
  color:#999999;
}
#u9300 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u9301 {
  position:absolute;
  left:157px;
  top:568px;
  width:140px;
  height:25px;
}
#u9301_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9302 {
  position:absolute;
  left:511px;
  top:205px;
  width:295px;
  height:16px;
}
#u9303 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  white-space:nowrap;
}
#u9304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9304 {
  position:absolute;
  left:511px;
  top:244px;
  width:197px;
  height:16px;
}
#u9305 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u9306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9306 {
  position:absolute;
  left:54px;
  top:333px;
  width:397px;
  height:41px;
}
#u9307 {
  position:absolute;
  left:2px;
  top:12px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9306_ann {
  position:absolute;
  left:444px;
  top:329px;
  width:1px;
  height:1px;
}
#u9308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:42px;
}
#u9308 {
  position:absolute;
  left:167px;
  top:333px;
  width:1px;
  height:41px;
}
#u9309 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9310 {
  position:absolute;
  left:82px;
  top:346px;
  width:43px;
  height:16px;
}
#u9311 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9312 {
  position:absolute;
  left:65px;
  top:441px;
  width:43px;
  height:16px;
}
#u9313 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9314 {
  position:absolute;
  left:65px;
  top:491px;
  width:43px;
  height:16px;
}
#u9315 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9316 {
  position:absolute;
  left:346px;
  top:441px;
  width:89px;
  height:16px;
}
#u9317 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u9318 {
  position:absolute;
  left:341px;
  top:487px;
  width:103px;
  height:25px;
}
#u9318_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9319 {
  position:absolute;
  left:511px;
  top:412px;
  width:407px;
  height:48px;
}
#u9320 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u9321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u9321 {
  position:absolute;
  left:937px;
  top:45px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u9322 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9323_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u9323 {
  position:absolute;
  left:937px;
  top:45px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u9324 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9325 {
  position:absolute;
  left:939px;
  top:70px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u9326 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u9327_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u9327 {
  position:absolute;
  left:951px;
  top:75px;
  width:14px;
  height:26px;
}
#u9328 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9329 {
  position:absolute;
  left:954px;
  top:146px;
  width:130px;
  height:16px;
}
#u9330 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  white-space:nowrap;
}
#u9331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9331 {
  position:absolute;
  left:961px;
  top:412px;
  width:43px;
  height:16px;
}
#u9332 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9333 {
  position:absolute;
  left:961px;
  top:462px;
  width:43px;
  height:16px;
}
#u9334 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u9335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9335 {
  position:absolute;
  left:1242px;
  top:412px;
  width:89px;
  height:16px;
}
#u9336 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u9337 {
  position:absolute;
  left:1237px;
  top:458px;
  width:103px;
  height:25px;
}
#u9337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u9338 {
  position:absolute;
  left:1047px;
  top:180px;
  width:276px;
  height:41px;
}
#u9338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9339 {
  position:absolute;
  left:1047px;
  top:244px;
  width:276px;
  height:41px;
}
#u9339_input {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9340 {
  position:absolute;
  left:952px;
  top:193px;
  width:85px;
  height:16px;
}
#u9341 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9342 {
  position:absolute;
  left:952px;
  top:256px;
  width:85px;
  height:16px;
}
#u9343 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u9344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9344 {
  position:absolute;
  left:58px;
  top:384px;
  width:393px;
  height:32px;
}
#u9345 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u9346 {
  position:absolute;
  left:1094px;
  top:560px;
  width:140px;
  height:25px;
}
#u9346_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
