body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:790px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u5111 {
  position:absolute;
  left:47px;
  top:34px;
  width:420px;
  height:790px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u5112 {
  position:absolute;
  left:2px;
  top:387px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u5113 {
  position:absolute;
  left:47px;
  top:34px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5114 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5115 {
  position:absolute;
  left:47px;
  top:759px;
  width:420px;
  height:65px;
}
#u5116 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5117 {
  position:absolute;
  left:82px;
  top:798px;
  width:29px;
  height:16px;
}
#u5118 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5119 {
  position:absolute;
  left:182px;
  top:798px;
  width:29px;
  height:16px;
}
#u5120 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5121 {
  position:absolute;
  left:295px;
  top:798px;
  width:43px;
  height:16px;
}
#u5122 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5123 {
  position:absolute;
  left:406px;
  top:798px;
  width:29px;
  height:16px;
}
#u5124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u5125 {
  position:absolute;
  left:80px;
  top:768px;
  width:33px;
  height:23px;
}
#u5126 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u5127 {
  position:absolute;
  left:297px;
  top:763px;
  width:36px;
  height:30px;
}
#u5128 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u5129 {
  position:absolute;
  left:406px;
  top:766px;
  width:30px;
  height:22px;
}
#u5130 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u5131 {
  position:absolute;
  left:182px;
  top:766px;
  width:27px;
  height:28px;
}
#u5132 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5133 {
  position:absolute;
  left:72px;
  top:763px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5134 {
  position:absolute;
  left:170px;
  top:763px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5135 {
  position:absolute;
  left:291px;
  top:766px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5136 {
  position:absolute;
  left:395px;
  top:766px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5137 {
  position:absolute;
  left:228px;
  top:75px;
  width:57px;
  height:16px;
}
#u5138 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u5139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5140 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5141 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5142 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5143 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5144 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5145 {
  position:absolute;
  left:49px;
  top:59px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u5146 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u5147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u5147 {
  position:absolute;
  left:61px;
  top:66px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5148 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5149 {
  position:absolute;
  left:1394px;
  top:415px;
  width:30px;
  height:16px;
}
#u5150 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5149_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5151 {
  position:absolute;
  left:1396px;
  top:465px;
  width:27px;
  height:16px;
}
#u5152 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5151_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5153 {
  position:absolute;
  left:47px;
  top:100px;
  width:419px;
  height:656px;
  overflow:hidden;
}
#u5153_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:656px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u5153_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5154 {
  position:absolute;
  left:0px;
  top:4px;
  width:418px;
  height:99px;
}
#u5155 {
  position:absolute;
  left:2px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:77px;
}
#u5156 {
  position:absolute;
  left:19px;
  top:15px;
  width:78px;
  height:77px;
}
#u5157 {
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5158 {
  position:absolute;
  left:41px;
  top:50px;
  width:29px;
  height:16px;
}
#u5159 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5160 {
  position:absolute;
  left:107px;
  top:33px;
  width:177px;
  height:16px;
}
#u5161 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u5162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5162 {
  position:absolute;
  left:116px;
  top:64px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5163 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5164 {
  position:absolute;
  left:163px;
  top:70px;
  width:28px;
  height:15px;
  font-size:12px;
}
#u5165 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u5166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u5166 {
  position:absolute;
  left:160px;
  top:77px;
  width:34px;
  height:1px;
}
#u5167 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5168 {
  position:absolute;
  left:9px;
  top:121px;
  width:388px;
  height:56px;
}
#u5169 {
  position:absolute;
  left:2px;
  top:20px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5170 {
  position:absolute;
  left:26px;
  top:135px;
  width:202px;
  height:32px;
}
#u5171 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u5172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5172 {
  position:absolute;
  left:9px;
  top:187px;
  width:388px;
  height:66px;
}
#u5173 {
  position:absolute;
  left:2px;
  top:25px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5174 {
  position:absolute;
  left:26px;
  top:201px;
  width:140px;
  height:16px;
}
#u5175 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u5176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  position:absolute;
  left:26px;
  top:227px;
  width:79px;
  height:16px;
}
#u5177 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:262px;
}
#u5179 {
  position:absolute;
  left:9px;
  top:271px;
  width:405px;
  height:262px;
}
#u5180 {
  position:absolute;
  left:2px;
  top:123px;
  width:401px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:14px;
}
#u5181 {
  position:absolute;
  left:9px;
  top:320px;
  width:358px;
  height:14px;
}
#u5182 {
  position:absolute;
  left:2px;
  top:-1px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:21px;
}
#u5183 {
  position:absolute;
  left:9px;
  top:374px;
  width:358px;
  height:21px;
}
#u5184 {
  position:absolute;
  left:2px;
  top:2px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:21px;
}
#u5185 {
  position:absolute;
  left:9px;
  top:456px;
  width:358px;
  height:21px;
}
#u5186 {
  position:absolute;
  left:2px;
  top:2px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5187 {
  position:absolute;
  left:48px;
  top:756px;
  width:418px;
  height:84px;
}
#u5188 {
  position:absolute;
  left:2px;
  top:34px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5189 {
  position:absolute;
  left:498px;
  top:504px;
  width:407px;
  height:64px;
}
#u5190 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u5191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5191 {
  position:absolute;
  left:498px;
  top:597px;
  width:269px;
  height:80px;
}
#u5192 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u5193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5193 {
  position:absolute;
  left:498px;
  top:701px;
  width:272px;
  height:80px;
}
#u5194 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u5195 {
  position:absolute;
  left:1397px;
  top:511px;
  width:27px;
  height:16px;
}
#u5196 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5195_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:309px;
}
#u5197 {
  position:absolute;
  left:498px;
  top:781px;
  width:412px;
  height:309px;
}
#u5198 {
  position:absolute;
  left:2px;
  top:146px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
