body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:687px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u7184 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u7185 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u7186 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7187 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7188 {
  position:absolute;
  left:25px;
  top:50px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7189 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u7190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u7190 {
  position:absolute;
  left:37px;
  top:55px;
  width:14px;
  height:26px;
}
#u7191 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:45px;
}
#u7192 {
  position:absolute;
  left:39px;
  top:123px;
  width:60px;
  height:44px;
}
#u7193 {
  position:absolute;
  left:2px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u7194_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7194 {
  position:absolute;
  left:109px;
  top:123px;
  width:57px;
  height:16px;
}
#u7195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7196 {
  position:absolute;
  left:109px;
  top:149px;
  width:237px;
  height:16px;
}
#u7197 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u7198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:33px;
}
#u7198 {
  position:absolute;
  left:387px;
  top:128px;
  width:34px;
  height:33px;
}
#u7199 {
  position:absolute;
  left:2px;
  top:8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7200 {
  position:absolute;
  left:24px;
  top:176px;
  width:418px;
  height:80px;
}
#u7201 {
  position:absolute;
  left:2px;
  top:32px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u7202 {
  position:absolute;
  left:41px;
  top:190px;
  width:35px;
  height:35px;
  font-size:11px;
}
#u7203 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u7204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
}
#u7204 {
  position:absolute;
  left:86px;
  top:189px;
  width:75px;
  height:16px;
  text-align:center;
}
#u7205 {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u7206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u7206 {
  position:absolute;
  left:345px;
  top:189px;
  width:80px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u7207 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u7208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:15px;
}
#u7208 {
  position:absolute;
  left:86px;
  top:215px;
  width:300px;
  height:15px;
  font-size:12px;
}
#u7209 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u7210 {
  position:absolute;
  left:23px;
  top:104px;
  width:419px;
  height:72px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7211 {
  position:absolute;
  left:92px;
  top:114px;
  width:9px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7212 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u7213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7213 {
  position:absolute;
  left:504px;
  top:123px;
  width:127px;
  height:16px;
}
#u7214 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u7215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7215 {
  position:absolute;
  left:504px;
  top:265px;
  width:183px;
  height:16px;
}
#u7216 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
