body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:918px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u7657 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u7658 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u7659 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7660 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7661 {
  position:absolute;
  left:25px;
  top:50px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u7662 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u7663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u7663 {
  position:absolute;
  left:37px;
  top:55px;
  width:14px;
  height:26px;
}
#u7664 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7665 {
  position:absolute;
  left:37px;
  top:107px;
  width:71px;
  height:16px;
}
#u7666 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7667 {
  position:absolute;
  left:118px;
  top:104px;
  width:272px;
  height:22px;
}
#u7667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7667_input:disabled {
  color:grayText;
}
#u7668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7668 {
  position:absolute;
  left:37px;
  top:238px;
  width:71px;
  height:16px;
}
#u7669 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7670 {
  position:absolute;
  left:118px;
  top:235px;
  width:272px;
  height:22px;
}
#u7670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7670_input:disabled {
  color:grayText;
}
#u7671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7671 {
  position:absolute;
  left:37px;
  top:148px;
  width:71px;
  height:16px;
}
#u7672 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7673 {
  position:absolute;
  left:118px;
  top:142px;
  width:272px;
  height:75px;
}
#u7673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:75px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7674 {
  position:absolute;
  left:125px;
  top:148px;
  width:43px;
  height:16px;
}
#u7675 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7676 {
  position:absolute;
  left:186px;
  top:148px;
  width:43px;
  height:16px;
}
#u7677 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7678 {
  position:absolute;
  left:239px;
  top:148px;
  width:43px;
  height:16px;
}
#u7679 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7680 {
  position:absolute;
  left:37px;
  top:292px;
  width:71px;
  height:16px;
}
#u7681 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u7682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7682 {
  position:absolute;
  left:118px;
  top:292px;
  width:67px;
  height:16px;
}
#u7683 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u7684 {
  position:absolute;
  left:133px;
  top:388px;
  width:96px;
  height:25px;
}
#u7684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7685 {
  position:absolute;
  left:260px;
  top:388px;
  width:96px;
  height:25px;
}
#u7685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  height:176px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7686 {
  position:absolute;
  left:483px;
  top:107px;
  width:435px;
  height:176px;
}
#u7687 {
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
