body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:945px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:786px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3674 {
  position:absolute;
  left:39px;
  top:31px;
  width:420px;
  height:786px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3675 {
  position:absolute;
  left:2px;
  top:385px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u3676 {
  position:absolute;
  left:39px;
  top:31px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3677 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3679 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3681 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3682 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3683 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3684 {
  position:absolute;
  left:40px;
  top:56px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u3685 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u3686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u3686 {
  position:absolute;
  left:52px;
  top:63px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3687 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3688 {
  position:absolute;
  left:345px;
  top:774px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u3689 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u3690 {
  position:absolute;
  left:40px;
  top:106px;
  width:418px;
  height:60px;
  text-align:left;
  line-height:20px;
}
#u3691 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u3692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3692 {
  position:absolute;
  left:235px;
  top:774px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u3693 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u3694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:118px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u3694 {
  position:absolute;
  left:40px;
  top:305px;
  width:418px;
  height:118px;
  text-align:left;
  line-height:20px;
}
#u3695 {
  position:absolute;
  left:2px;
  top:9px;
  width:414px;
  word-wrap:break-word;
}
#u3696 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:129px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3697 {
  position:absolute;
  left:40px;
  top:166px;
  width:418px;
  height:129px;
}
#u3698 {
  position:absolute;
  left:2px;
  top:56px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3699 {
  position:absolute;
  left:57px;
  top:175px;
  width:164px;
  height:16px;
  font-size:13px;
}
#u3700 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u3701_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:73px;
}
#u3701 {
  position:absolute;
  left:66px;
  top:204px;
  width:67px;
  height:73px;
}
#u3702 {
  position:absolute;
  left:2px;
  top:28px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3703 {
  position:absolute;
  left:145px;
  top:204px;
  width:274px;
  height:48px;
}
#u3704 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u3705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3705 {
  position:absolute;
  left:145px;
  top:259px;
  width:59px;
  height:16px;
  color:#FF0000;
}
#u3706 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u3707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u3707 {
  position:absolute;
  left:151px;
  top:240px;
  width:319px;
  height:16px;
  font-size:11px;
}
#u3708 {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  word-wrap:break-word;
}
#u3709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u3709 {
  position:absolute;
  left:332px;
  top:256px;
  width:15px;
  height:16px;
  font-size:14px;
}
#u3710 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u3711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u3711 {
  position:absolute;
  left:406px;
  top:174px;
  width:40px;
  height:16px;
  font-size:13px;
}
#u3712 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u3713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:87px;
}
#u3713 {
  position:absolute;
  left:40px;
  top:423px;
  width:234px;
  height:87px;
}
#u3714 {
  position:absolute;
  left:2px;
  top:36px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3715 {
  position:absolute;
  left:66px;
  top:781px;
  width:103px;
  height:16px;
}
#u3716 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u3717_div {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3717 {
  position:absolute;
  left:506px;
  top:663px;
  width:439px;
  height:96px;
}
#u3718 {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  word-wrap:break-word;
}
#u3719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3719 {
  position:absolute;
  left:506px;
  top:476px;
  width:300px;
  height:170px;
}
#u3720 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3721 {
  position:absolute;
  left:607px;
  top:534px;
  width:99px;
  height:16px;
}
#u3722 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3723 {
  position:absolute;
  left:580px;
  top:596px;
  width:72px;
  height:35px;
}
#u3724 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
#u3725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3725 {
  position:absolute;
  left:673px;
  top:596px;
  width:72px;
  height:35px;
}
#u3726 {
  position:absolute;
  left:2px;
  top:10px;
  width:68px;
  word-wrap:break-word;
}
