body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:984px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:796px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1075 {
  position:absolute;
  left:53px;
  top:21px;
  width:420px;
  height:796px;
}
#u1076 {
  position:absolute;
  left:2px;
  top:390px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u1077 {
  position:absolute;
  left:54px;
  top:21px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1078 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1079 {
  position:absolute;
  left:54px;
  top:48px;
  width:47px;
  height:42px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:13px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1081 {
  position:absolute;
  left:230px;
  top:61px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1083 {
  position:absolute;
  left:77px;
  top:105px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  position:absolute;
  left:75px;
  top:130px;
  width:253px;
  height:128px;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  word-wrap:break-word;
}
#u1087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1087 {
  position:absolute;
  left:78px;
  top:266px;
  width:125px;
  height:16px;
}
#u1088 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  white-space:nowrap;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:2px;
}
#u1089 {
  position:absolute;
  left:63px;
  top:288px;
  width:410px;
  height:1px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:-8px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1091 {
  position:absolute;
  left:76px;
  top:311px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1093 {
  position:absolute;
  left:74px;
  top:336px;
  width:393px;
  height:64px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:2px;
}
#u1095 {
  position:absolute;
  left:63px;
  top:436px;
  width:410px;
  height:1px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:-8px;
  width:406px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1097 {
  position:absolute;
  left:79px;
  top:453px;
  width:127px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1098 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099 {
  position:absolute;
  left:77px;
  top:478px;
  width:393px;
  height:64px;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  position:absolute;
  left:75px;
  top:410px;
  width:124px;
  height:16px;
}
#u1102 {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  white-space:nowrap;
}
#u1103 {
  position:absolute;
  left:61px;
  top:105px;
  width:404px;
  height:437px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  position:absolute;
  left:543px;
  top:154px;
  width:441px;
  height:80px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  white-space:nowrap;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:118px;
}
#u1106 {
  position:absolute;
  left:338px;
  top:130px;
  width:129px;
  height:118px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:51px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
