body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u8652 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u8653 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u8654 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8655 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8656 {
  position:absolute;
  left:25px;
  top:50px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8657 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u8658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u8658 {
  position:absolute;
  left:37px;
  top:55px;
  width:14px;
  height:26px;
}
#u8659 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8660 {
  position:absolute;
  left:35px;
  top:121px;
  width:399px;
  height:31px;
}
#u8660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u8661 {
  position:absolute;
  left:42px;
  top:126px;
  width:25px;
  height:22px;
}
#u8662 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8663 {
  position:absolute;
  left:35px;
  top:121px;
  width:399px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8664 {
  position:absolute;
  left:32px;
  top:162px;
  width:400px;
  height:120px;
}
#u8665 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8666 {
  position:absolute;
  left:160px;
  top:182px;
  width:211px;
  height:16px;
}
#u8667 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8668 {
  position:absolute;
  left:160px;
  top:208px;
  width:49px;
  height:16px;
}
#u8669 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8670 {
  position:absolute;
  left:39px;
  top:172px;
  width:111px;
  height:101px;
}
#u8671 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8672 {
  position:absolute;
  left:39px;
  top:94px;
  width:79px;
  height:16px;
}
#u8673 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8674 {
  position:absolute;
  left:346px;
  top:91px;
  width:88px;
  height:26px;
}
#u8675 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u8676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8676 {
  position:absolute;
  left:160px;
  top:234px;
  width:179px;
  height:16px;
}
#u8677 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u8678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8678 {
  position:absolute;
  left:32px;
  top:292px;
  width:400px;
  height:120px;
}
#u8679 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8680 {
  position:absolute;
  left:160px;
  top:312px;
  width:211px;
  height:16px;
}
#u8681 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8682 {
  position:absolute;
  left:160px;
  top:338px;
  width:49px;
  height:16px;
}
#u8683 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8684_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8684 {
  position:absolute;
  left:39px;
  top:302px;
  width:111px;
  height:101px;
}
#u8685 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8686 {
  position:absolute;
  left:160px;
  top:364px;
  width:179px;
  height:16px;
}
#u8687 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u8688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8688 {
  position:absolute;
  left:32px;
  top:422px;
  width:400px;
  height:120px;
}
#u8689 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8690 {
  position:absolute;
  left:160px;
  top:442px;
  width:211px;
  height:16px;
}
#u8691 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8692 {
  position:absolute;
  left:160px;
  top:468px;
  width:49px;
  height:16px;
}
#u8693 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8694 {
  position:absolute;
  left:39px;
  top:432px;
  width:111px;
  height:101px;
}
#u8695 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8696 {
  position:absolute;
  left:160px;
  top:494px;
  width:179px;
  height:16px;
}
#u8697 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u8698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8698 {
  position:absolute;
  left:32px;
  top:552px;
  width:400px;
  height:120px;
}
#u8699 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8700 {
  position:absolute;
  left:160px;
  top:572px;
  width:211px;
  height:16px;
}
#u8701 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8702 {
  position:absolute;
  left:160px;
  top:598px;
  width:49px;
  height:16px;
}
#u8703 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8704 {
  position:absolute;
  left:39px;
  top:562px;
  width:111px;
  height:101px;
}
#u8705 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8706 {
  position:absolute;
  left:160px;
  top:624px;
  width:179px;
  height:16px;
}
#u8707 {
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  white-space:nowrap;
}
#u8708 {
  position:absolute;
  left:32px;
  top:162px;
  width:402px;
  height:510px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8709_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8709 {
  position:absolute;
  left:164px;
  top:752px;
  width:109px;
  height:16px;
}
#u8710 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
