body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u3051 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u3052 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u3053 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3054 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3055 {
  position:absolute;
  left:25px;
  top:50px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3056 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u3057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u3057 {
  position:absolute;
  left:37px;
  top:55px;
  width:14px;
  height:26px;
}
#u3058 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:104px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3060 {
  position:absolute;
  left:24px;
  top:98px;
  width:418px;
  height:104px;
}
#u3061 {
  position:absolute;
  left:2px;
  top:44px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u3062 {
  position:absolute;
  left:59px;
  top:110px;
  width:66px;
  height:16px;
  text-align:center;
}
#u3063 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u3064 {
  position:absolute;
  left:345px;
  top:111px;
  width:80px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:30px;
}
#u3066 {
  position:absolute;
  left:49px;
  top:136px;
  width:311px;
  height:30px;
  font-size:12px;
}
#u3067 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u3068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
}
#u3068 {
  position:absolute;
  left:372px;
  top:136px;
  width:49px;
  height:55px;
}
#u3069 {
  position:absolute;
  left:2px;
  top:20px;
  width:45px;
  word-wrap:break-word;
}
#u3070 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:104px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3071 {
  position:absolute;
  left:24px;
  top:201px;
  width:418px;
  height:104px;
}
#u3072 {
  position:absolute;
  left:2px;
  top:44px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u3073 {
  position:absolute;
  left:49px;
  top:213px;
  width:66px;
  height:16px;
  text-align:center;
}
#u3074 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u3075 {
  position:absolute;
  left:345px;
  top:214px;
  width:80px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u3076 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:30px;
}
#u3077 {
  position:absolute;
  left:49px;
  top:239px;
  width:311px;
  height:30px;
  font-size:12px;
}
#u3078 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:15px;
}
#u3079 {
  position:absolute;
  left:49px;
  top:279px;
  width:289px;
  height:15px;
  font-size:12px;
}
#u3080 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u3081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
}
#u3081 {
  position:absolute;
  left:372px;
  top:239px;
  width:49px;
  height:55px;
}
#u3082 {
  position:absolute;
  left:2px;
  top:20px;
  width:45px;
  word-wrap:break-word;
}
#u3083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:104px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3084 {
  position:absolute;
  left:24px;
  top:315px;
  width:418px;
  height:104px;
}
#u3085 {
  position:absolute;
  left:2px;
  top:44px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
}
#u3086 {
  position:absolute;
  left:49px;
  top:327px;
  width:79px;
  height:16px;
  text-align:center;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u3088 {
  position:absolute;
  left:345px;
  top:328px;
  width:80px;
  height:15px;
  font-size:12px;
  text-align:center;
}
#u3089 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:30px;
}
#u3090 {
  position:absolute;
  left:49px;
  top:353px;
  width:311px;
  height:30px;
  font-size:12px;
}
#u3091 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  word-wrap:break-word;
}
#u3092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:15px;
}
#u3092 {
  position:absolute;
  left:49px;
  top:393px;
  width:289px;
  height:15px;
  font-size:12px;
}
#u3093 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:55px;
}
#u3094 {
  position:absolute;
  left:372px;
  top:353px;
  width:49px;
  height:55px;
}
#u3095 {
  position:absolute;
  left:2px;
  top:20px;
  width:45px;
  word-wrap:break-word;
}
#u3096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3096 {
  position:absolute;
  left:497px;
  top:163px;
  width:503px;
  height:224px;
}
#u3097 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  white-space:nowrap;
}
#u3098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3098 {
  position:absolute;
  left:497px;
  top:120px;
  width:211px;
  height:16px;
}
#u3099 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
