body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1424px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:790px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u4805 {
  position:absolute;
  left:47px;
  top:34px;
  width:420px;
  height:790px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u4806 {
  position:absolute;
  left:2px;
  top:387px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u4807 {
  position:absolute;
  left:47px;
  top:34px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4808 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4809_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:65px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4809 {
  position:absolute;
  left:47px;
  top:759px;
  width:420px;
  height:65px;
}
#u4810 {
  position:absolute;
  left:2px;
  top:24px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4811 {
  position:absolute;
  left:82px;
  top:798px;
  width:29px;
  height:16px;
}
#u4812 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4813 {
  position:absolute;
  left:182px;
  top:798px;
  width:29px;
  height:16px;
}
#u4814 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4815 {
  position:absolute;
  left:295px;
  top:798px;
  width:43px;
  height:16px;
}
#u4816 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4817 {
  position:absolute;
  left:406px;
  top:798px;
  width:29px;
  height:16px;
}
#u4818 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:23px;
}
#u4819 {
  position:absolute;
  left:80px;
  top:768px;
  width:33px;
  height:23px;
}
#u4820 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4821_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:30px;
}
#u4821 {
  position:absolute;
  left:297px;
  top:763px;
  width:36px;
  height:30px;
}
#u4822 {
  position:absolute;
  left:2px;
  top:7px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4823_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u4823 {
  position:absolute;
  left:406px;
  top:766px;
  width:30px;
  height:22px;
}
#u4824 {
  position:absolute;
  left:2px;
  top:3px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4825_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u4825 {
  position:absolute;
  left:182px;
  top:766px;
  width:27px;
  height:28px;
}
#u4826 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4827 {
  position:absolute;
  left:72px;
  top:763px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4828 {
  position:absolute;
  left:170px;
  top:763px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4829 {
  position:absolute;
  left:291px;
  top:766px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4830 {
  position:absolute;
  left:395px;
  top:766px;
  width:51px;
  height:51px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4831 {
  position:absolute;
  left:228px;
  top:75px;
  width:57px;
  height:16px;
}
#u4832 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u4833 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4835 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4836 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4837 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4839 {
  position:absolute;
  left:49px;
  top:59px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u4840 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u4841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u4841 {
  position:absolute;
  left:61px;
  top:66px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4842 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4843 {
  position:absolute;
  left:1394px;
  top:415px;
  width:30px;
  height:16px;
}
#u4844 {
  position:absolute;
  left:16px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4843_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4845 {
  position:absolute;
  left:1396px;
  top:465px;
  width:27px;
  height:16px;
}
#u4846 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4845_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4847 {
  position:absolute;
  left:47px;
  top:100px;
  width:419px;
  height:656px;
  overflow:hidden;
}
#u4847_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:656px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4847_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:175px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u4848 {
  position:absolute;
  left:0px;
  top:103px;
  width:418px;
  height:175px;
  text-align:left;
  line-height:20px;
}
#u4849 {
  position:absolute;
  left:2px;
  top:80px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4850 {
  position:absolute;
  left:12px;
  top:156px;
  width:71px;
  height:16px;
}
#u4851 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4852 {
  position:absolute;
  left:83px;
  top:149px;
  width:320px;
  height:30px;
}
#u4852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4853 {
  position:absolute;
  left:21px;
  top:107px;
  width:57px;
  height:16px;
}
#u4854 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4855 {
  position:absolute;
  left:325px;
  top:107px;
  width:51px;
  height:16px;
}
#u4856 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u4857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4857 {
  position:absolute;
  left:376px;
  top:103px;
  width:25px;
  height:25px;
}
#u4858 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:80px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u4859 {
  position:absolute;
  left:0px;
  top:198px;
  width:418px;
  height:80px;
  text-align:left;
  line-height:20px;
}
#u4860 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u4861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:66px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u4861 {
  position:absolute;
  left:0px;
  top:485px;
  width:418px;
  height:66px;
  text-align:left;
  line-height:20px;
}
#u4862 {
  position:absolute;
  left:2px;
  top:25px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
}
#u4863 {
  position:absolute;
  left:12px;
  top:487px;
  width:53px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  line-height:20px;
}
#u4864 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4866 {
  position:absolute;
  left:35px;
  top:514px;
  width:30px;
  height:30px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4868 {
  position:absolute;
  left:75px;
  top:521px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4869 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:2px;
}
#u4870 {
  position:absolute;
  left:6px;
  top:550px;
  width:400px;
  height:1px;
}
#u4871 {
  position:absolute;
  left:2px;
  top:-8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4872 {
  position:absolute;
  left:0px;
  top:4px;
  width:418px;
  height:99px;
}
#u4873 {
  position:absolute;
  left:2px;
  top:42px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:77px;
}
#u4874 {
  position:absolute;
  left:19px;
  top:15px;
  width:78px;
  height:77px;
}
#u4875 {
  position:absolute;
  left:2px;
  top:30px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4876 {
  position:absolute;
  left:41px;
  top:50px;
  width:29px;
  height:16px;
}
#u4877 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  position:absolute;
  left:107px;
  top:33px;
  width:177px;
  height:16px;
}
#u4879 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u4880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4880 {
  position:absolute;
  left:116px;
  top:64px;
  width:41px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4882 {
  position:absolute;
  left:163px;
  top:70px;
  width:28px;
  height:15px;
  font-size:12px;
}
#u4883 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:2px;
}
#u4884 {
  position:absolute;
  left:160px;
  top:77px;
  width:34px;
  height:1px;
}
#u4885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4886 {
  position:absolute;
  left:0px;
  top:275px;
  width:388px;
  height:56px;
}
#u4887 {
  position:absolute;
  left:2px;
  top:20px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4888 {
  position:absolute;
  left:17px;
  top:289px;
  width:202px;
  height:32px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  white-space:nowrap;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4890 {
  position:absolute;
  left:0px;
  top:341px;
  width:388px;
  height:66px;
}
#u4891 {
  position:absolute;
  left:2px;
  top:25px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4892 {
  position:absolute;
  left:17px;
  top:355px;
  width:140px;
  height:16px;
}
#u4893 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  white-space:nowrap;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4894 {
  position:absolute;
  left:17px;
  top:381px;
  width:79px;
  height:16px;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4896 {
  position:absolute;
  left:0px;
  top:417px;
  width:388px;
  height:66px;
}
#u4897 {
  position:absolute;
  left:2px;
  top:25px;
  width:384px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:16px;
}
#u4898 {
  position:absolute;
  left:17px;
  top:442px;
  width:165px;
  height:16px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4901 {
  position:absolute;
  left:35px;
  top:569px;
  width:30px;
  height:30px;
}
#u4902 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4903 {
  position:absolute;
  left:75px;
  top:576px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4906 {
  position:absolute;
  left:35px;
  top:625px;
  width:30px;
  height:30px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4908 {
  position:absolute;
  left:75px;
  top:632px;
  width:66px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4909 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u4910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4910 {
  position:absolute;
  left:48px;
  top:756px;
  width:418px;
  height:84px;
}
#u4911 {
  position:absolute;
  left:2px;
  top:34px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4912 {
  position:absolute;
  left:59px;
  top:795px;
  width:146px;
  height:25px;
  font-size:16px;
}
#u4913 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4914 {
  position:absolute;
  left:359px;
  top:783px;
  width:100px;
  height:48px;
}
#u4915 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4916 {
  position:absolute;
  left:498px;
  top:504px;
  width:407px;
  height:64px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:407px;
  white-space:nowrap;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4918 {
  position:absolute;
  left:498px;
  top:597px;
  width:269px;
  height:80px;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4920 {
  position:absolute;
  left:498px;
  top:701px;
  width:272px;
  height:80px;
}
#u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u4922 {
  position:absolute;
  left:1397px;
  top:511px;
  width:27px;
  height:16px;
}
#u4923 {
  position:absolute;
  left:16px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4922_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:48px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4924 {
  position:absolute;
  left:249px;
  top:783px;
  width:100px;
  height:48px;
}
#u4925 {
  position:absolute;
  left:2px;
  top:16px;
  width:96px;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:309px;
}
#u4926 {
  position:absolute;
  left:498px;
  top:781px;
  width:412px;
  height:309px;
}
#u4927 {
  position:absolute;
  left:2px;
  top:146px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
