body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:443px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u8839 {
  position:absolute;
  left:23px;
  top:25px;
  width:420px;
  height:750px;
  font-family:'標楷體 Regular', '標楷體';
  font-weight:400;
  font-style:normal;
}
#u8840 {
  position:absolute;
  left:2px;
  top:367px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u8841 {
  position:absolute;
  left:23px;
  top:25px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u8842 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8843 {
  position:absolute;
  left:25px;
  top:50px;
  width:417px;
  height:35px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8844 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u8845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:26px;
}
#u8845 {
  position:absolute;
  left:37px;
  top:55px;
  width:14px;
  height:26px;
}
#u8846 {
  position:absolute;
  left:2px;
  top:5px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8847 {
  position:absolute;
  left:35px;
  top:121px;
  width:399px;
  height:31px;
}
#u8847_input {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:31px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u8848 {
  position:absolute;
  left:42px;
  top:126px;
  width:25px;
  height:22px;
}
#u8849 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8850 {
  position:absolute;
  left:32px;
  top:162px;
  width:400px;
  height:120px;
}
#u8851 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8852 {
  position:absolute;
  left:160px;
  top:182px;
  width:211px;
  height:16px;
}
#u8853 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8854 {
  position:absolute;
  left:162px;
  top:211px;
  width:29px;
  height:16px;
}
#u8855 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8856 {
  position:absolute;
  left:39px;
  top:172px;
  width:111px;
  height:101px;
}
#u8857 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8858 {
  position:absolute;
  left:39px;
  top:94px;
  width:79px;
  height:16px;
}
#u8859 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u8860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8860 {
  position:absolute;
  left:346px;
  top:91px;
  width:88px;
  height:26px;
}
#u8861 {
  position:absolute;
  left:2px;
  top:5px;
  width:84px;
  word-wrap:break-word;
}
#u8862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8862 {
  position:absolute;
  left:160px;
  top:240px;
  width:89px;
  height:16px;
}
#u8863 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8864 {
  position:absolute;
  left:32px;
  top:292px;
  width:400px;
  height:120px;
}
#u8865 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8866 {
  position:absolute;
  left:160px;
  top:312px;
  width:211px;
  height:16px;
}
#u8867 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8868 {
  position:absolute;
  left:162px;
  top:341px;
  width:29px;
  height:16px;
}
#u8869 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8870 {
  position:absolute;
  left:39px;
  top:302px;
  width:111px;
  height:101px;
}
#u8871 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8872 {
  position:absolute;
  left:160px;
  top:370px;
  width:89px;
  height:16px;
}
#u8873 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8874 {
  position:absolute;
  left:32px;
  top:422px;
  width:400px;
  height:120px;
}
#u8875 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8876 {
  position:absolute;
  left:160px;
  top:442px;
  width:211px;
  height:16px;
}
#u8877 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8878 {
  position:absolute;
  left:162px;
  top:471px;
  width:29px;
  height:16px;
}
#u8879 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8880 {
  position:absolute;
  left:39px;
  top:432px;
  width:111px;
  height:101px;
}
#u8881 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8882 {
  position:absolute;
  left:160px;
  top:500px;
  width:89px;
  height:16px;
}
#u8883 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8884 {
  position:absolute;
  left:32px;
  top:552px;
  width:400px;
  height:120px;
}
#u8885 {
  position:absolute;
  left:2px;
  top:52px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8886 {
  position:absolute;
  left:160px;
  top:572px;
  width:211px;
  height:16px;
}
#u8887 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u8888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8888 {
  position:absolute;
  left:162px;
  top:601px;
  width:29px;
  height:16px;
}
#u8889 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:101px;
}
#u8890 {
  position:absolute;
  left:39px;
  top:562px;
  width:111px;
  height:101px;
}
#u8891 {
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8892 {
  position:absolute;
  left:160px;
  top:630px;
  width:89px;
  height:16px;
}
#u8893 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u8894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8894 {
  position:absolute;
  left:164px;
  top:752px;
  width:109px;
  height:16px;
}
#u8895 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u8896 {
  position:absolute;
  left:32px;
  top:162px;
  width:402px;
  height:510px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
