body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:707px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:785px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5313 {
  position:absolute;
  left:40px;
  top:38px;
  width:420px;
  height:785px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5314 {
  position:absolute;
  left:2px;
  top:384px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u5315 {
  position:absolute;
  left:40px;
  top:38px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5316 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5317 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5318 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5319 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5320 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5321 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5322 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5323 {
  position:absolute;
  left:41px;
  top:63px;
  width:418px;
  height:40px;
  font-size:16px;
}
#u5324 {
  position:absolute;
  left:2px;
  top:10px;
  width:414px;
  word-wrap:break-word;
}
#u5325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u5325 {
  position:absolute;
  left:53px;
  top:70px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u5326 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:418px;
  height:96px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5327 {
  position:absolute;
  left:41px;
  top:110px;
  width:418px;
  height:96px;
}
#u5328 {
  position:absolute;
  left:2px;
  top:40px;
  width:414px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5329_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:73px;
}
#u5329 {
  position:absolute;
  left:67px;
  top:122px;
  width:67px;
  height:73px;
}
#u5330 {
  position:absolute;
  left:2px;
  top:28px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5331 {
  position:absolute;
  left:146px;
  top:138px;
  width:274px;
  height:16px;
}
#u5332 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  word-wrap:break-word;
}
#u5333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5333 {
  position:absolute;
  left:661px;
  top:206px;
  width:46px;
  height:16px;
}
#u5334 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5335 {
  position:absolute;
  left:146px;
  top:164px;
  width:178px;
  height:16px;
  font-size:13px;
}
#u5336 {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u5337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:604px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5337 {
  position:absolute;
  left:42px;
  top:212px;
  width:417px;
  height:604px;
}
#u5338 {
  position:absolute;
  left:2px;
  top:294px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5339 {
  position:absolute;
  left:214px;
  top:786px;
  width:18px;
  height:20px;
}
#u5340 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  white-space:nowrap;
}
#u5341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:389px;
  height:590px;
}
#u5341 {
  position:absolute;
  left:56px;
  top:216px;
  width:389px;
  height:590px;
}
#u5342 {
  position:absolute;
  left:2px;
  top:287px;
  width:385px;
  visibility:hidden;
  word-wrap:break-word;
}
