body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:796px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1568 {
  position:absolute;
  left:53px;
  top:21px;
  width:420px;
  height:796px;
}
#u1569 {
  position:absolute;
  left:2px;
  top:390px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:25px;
}
#u1570 {
  position:absolute;
  left:54px;
  top:21px;
  width:419px;
  height:25px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1571 {
  position:absolute;
  left:2px;
  top:4px;
  width:415px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u1572 {
  position:absolute;
  left:54px;
  top:48px;
  width:47px;
  height:42px;
}
#u1573 {
  position:absolute;
  left:2px;
  top:13px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1574 {
  position:absolute;
  left:65px;
  top:100px;
  width:408px;
  height:645px;
  overflow:hidden;
}
#u1574_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:645px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u1574_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1575 {
  position:absolute;
  left:10px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1576 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1577 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:145px;
}
#u1578 {
  position:absolute;
  left:0px;
  top:56px;
  width:400px;
  height:145px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1579 {
  position:absolute;
  left:2px;
  top:63px;
  width:396px;
  word-wrap:break-word;
}
#u1580 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1581 {
  position:absolute;
  left:145px;
  top:174px;
  width:10px;
  height:10px;
}
#u1582 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1583 {
  position:absolute;
  left:159px;
  top:174px;
  width:10px;
  height:10px;
}
#u1584 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1585 {
  position:absolute;
  left:173px;
  top:174px;
  width:10px;
  height:10px;
}
#u1586 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1587 {
  position:absolute;
  left:187px;
  top:174px;
  width:10px;
  height:10px;
}
#u1588 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1589 {
  position:absolute;
  left:200px;
  top:174px;
  width:10px;
  height:10px;
}
#u1590 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1591 {
  position:absolute;
  left:214px;
  top:174px;
  width:10px;
  height:10px;
}
#u1592 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1593 {
  position:absolute;
  left:228px;
  top:174px;
  width:10px;
  height:10px;
}
#u1594 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1595_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1595 {
  position:absolute;
  left:0px;
  top:211px;
  width:400px;
  height:33px;
}
#u1596 {
  position:absolute;
  left:2px;
  top:8px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1597_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1597 {
  position:absolute;
  left:12px;
  top:220px;
  width:79px;
  height:16px;
}
#u1598 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u1599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1599 {
  position:absolute;
  left:351px;
  top:218px;
  width:28px;
  height:20px;
}
#u1600 {
  position:absolute;
  left:2px;
  top:2px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1601 {
  position:absolute;
  left:308px;
  top:220px;
  width:29px;
  height:16px;
}
#u1602 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1603 {
  position:absolute;
  left:0px;
  top:381px;
  width:400px;
  height:51px;
}
#u1604 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1605_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1605 {
  position:absolute;
  left:92px;
  top:394px;
  width:91px;
  height:25px;
}
#u1606 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1607 {
  position:absolute;
  left:200px;
  top:394px;
  width:91px;
  height:25px;
}
#u1608 {
  position:absolute;
  left:2px;
  top:4px;
  width:87px;
  word-wrap:break-word;
}
#u1609_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1609 {
  position:absolute;
  left:347px;
  top:30px;
  width:53px;
  height:16px;
}
#u1610 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1611 {
  position:absolute;
  left:165px;
  top:254px;
  width:57px;
  height:16px;
}
#u1612 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1613 {
  position:absolute;
  left:9px;
  top:280px;
  width:62px;
  height:49px;
}
#u1614 {
  position:absolute;
  left:2px;
  top:16px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1615 {
  position:absolute;
  left:10px;
  top:334px;
  width:57px;
  height:16px;
}
#u1616 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1617_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1617 {
  position:absolute;
  left:10px;
  top:352px;
  width:25px;
  height:16px;
}
#u1618 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1619 {
  position:absolute;
  left:163px;
  top:280px;
  width:62px;
  height:49px;
}
#u1620 {
  position:absolute;
  left:2px;
  top:16px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1621_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1621 {
  position:absolute;
  left:164px;
  top:334px;
  width:57px;
  height:16px;
}
#u1622 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1623_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1623 {
  position:absolute;
  left:164px;
  top:352px;
  width:25px;
  height:16px;
}
#u1624 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:50px;
}
#u1625 {
  position:absolute;
  left:317px;
  top:280px;
  width:62px;
  height:49px;
}
#u1626 {
  position:absolute;
  left:2px;
  top:16px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1627_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1627 {
  position:absolute;
  left:318px;
  top:334px;
  width:57px;
  height:16px;
}
#u1628 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1629_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1629 {
  position:absolute;
  left:318px;
  top:352px;
  width:25px;
  height:16px;
}
#u1630 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1631 {
  position:absolute;
  left:0px;
  top:432px;
}
#u1631_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1631_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1632_img {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:213px;
}
#u1632 {
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:213px;
}
#u1633 {
  position:absolute;
  left:2px;
  top:98px;
  width:395px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1634 {
  position:absolute;
  left:178px;
  top:75px;
  width:43px;
  height:16px;
}
#u1635 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1631_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1631_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1636 {
  position:absolute;
  left:70px;
  top:63px;
  width:57px;
  height:16px;
}
#u1637 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1631_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1631_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638 {
  position:absolute;
  left:22px;
  top:11px;
  width:140px;
  height:40px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:92px;
}
#u1640 {
  position:absolute;
  left:14px;
  top:11px;
  width:402px;
  height:92px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:38px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:79px;
}
#u1642 {
  position:absolute;
  left:74px;
  top:96px;
  width:88px;
  height:79px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:32px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:79px;
}
#u1644 {
  position:absolute;
  left:179px;
  top:96px;
  width:88px;
  height:79px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:32px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:79px;
}
#u1646 {
  position:absolute;
  left:288px;
  top:96px;
  width:88px;
  height:79px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:32px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1648 {
  position:absolute;
  left:100px;
  top:133px;
  width:29px;
  height:16px;
}
#u1649 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:24px;
}
#u1650 {
  position:absolute;
  left:403px;
  top:57px;
  width:27px;
  height:24px;
  color:#000000;
}
#u1651 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:29px;
}
#u1652 {
  position:absolute;
  left:436px;
  top:55px;
  width:28px;
  height:29px;
}
#u1653 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  position:absolute;
  left:53px;
  top:745px;
  width:420px;
  height:72px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:28px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1656 {
  position:absolute;
  left:86px;
  top:760px;
  width:61px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1658 {
  position:absolute;
  left:149px;
  top:779px;
  width:25px;
  height:16px;
}
#u1659 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:2px;
}
#u1660 {
  position:absolute;
  left:149px;
  top:787px;
  width:25px;
  height:1px;
}
#u1661 {
  position:absolute;
  left:2px;
  top:-8px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1662 {
  position:absolute;
  left:318px;
  top:757px;
  width:126px;
  height:48px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:16px;
  width:122px;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:384px;
}
#u1664 {
  position:absolute;
  left:491px;
  top:80px;
  width:494px;
  height:384px;
  font-size:14px;
}
#u1665 {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  word-wrap:break-word;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1666 {
  position:absolute;
  left:498px;
  top:763px;
  width:113px;
  height:32px;
}
#u1667 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1668 {
  position:absolute;
  left:74px;
  top:369px;
  width:378px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
